/* Style for the parent anchor pane */

/* Style for the labels */
Label {
    -fx-font-size: 14px; /* Set font size */
    -fx-font-weight: bold; /* Set font weight */
    -fx-text-fill: #424242; /* Set text color */
    -fx-font-family: "Roboto", sans-serif; /* Set font family */
}

/* Style for the text fields */
TextField, PasswordField {
 -fx-pref-height: 40px;
    -fx-pref-width: 200px;
     -fx-font-size: 12px; /* Set font size */
    -fx-prompt-text-fill: #a9a9a9; /* Set prompt text color */
    -fx-background-color: #fff; /* Set background color */
    -fx-border-width: 1px; /* Set border width */
    -fx-border-color: #e0e0e0; /* Set border color */
    -fx-border-radius: 5px; /* Round corners */
    -fx-font-family: "Roboto", sans-serif; /* Set font family */
    -fx-text-fill: #424242; /* Set text color */
}



/* Style for the login button */
Button {
    -fx-pref-height: 40px;
    -fx-pref-width: 180px;
    -fx-font-size: 15px; /* Set font size */
    -fx-font-weight: bold; /* Set font weight */
    -fx-background-color: #008CBA; /* Set background color */
    -fx-text-fill: #fff; /* Set text color */
    -fx-border-width: 0; /* Remove border */
    -fx-border-radius: 5px; /* Round corners */
    -fx-padding: 10px 20px; /* Set padding */
    -fx-font-family: "Roboto", sans-serif; /* Set font family */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 1); /* Add elevation */
}

/* Style for the login button on hover */
Button:hover {
    -fx-background-color: #005b7f; /* Set background color */
}
