#parent {
    -fx-background-color: #f2f2f2; /* Set background color */
    -fx-alignment:center
}

/* Style for the grid pane */
 GridPane{
-fx-hgap:5;
-fx-vgap:5;
-fx-background-color: #EAFAF1;
    -fx-padding: 40px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 5);
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

/* Style for the labels */
Label {
    -fx-font-size: 14px; /* Set font size */
    -fx-font-weight: bold; /* Set font weight */
    -fx-text-fill: #424242; /* Set text color */
    -fx-font-family: "Roboto", sans-serif; /* Set font family */
}

/* Style for the text fields */
TextField {
   -fx-pref-height: 40px;
      -fx-pref-width: 200px;
      -fx-padding: 10px;
    -fx-font-size: 12px;/* Set font size */
    -fx-prompt-text-fill: #a9a9a9; /* Set prompt text color */
    -fx-background-color: #fff; /* Set background color */
    -fx-border-width: 1px; /* Set border width */
    -fx-border-color: #999999; /* Set border color */
    -fx-border-radius: 5px; /* Round corners */
    -fx-font-family: "Roboto", sans-serif; /* Set font family */
    -fx-text-fill: #424242; /* Set text color */
}

/* Style for the login button */
Button {

    -fx-font-size: 15px; /* Set font size */
    -fx-font-weight: bold; /* Set font weight */
    -fx-background-color: #008CBA; /* Set background color */
    -fx-text-fill: #fff; /* Set text color */
    -fx-border-width: 0; /* Remove border */
    -fx-border-radius: 5px; /* Round corners */
    -fx-padding:5px; /* Set padding */
    -fx-font-family: "Roboto", sans-serif; /* Set font family */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 1); /* Add elevation */
}