/* Style for the parent anchor pane */
#parent {
    -fx-background-color: #f2f2f2; /* Set background color */
    -fx-alignment:center
}

/* Style for the grid pane */
#container {
    -fx-alignment: center; /* Center the grid pane */
     -fx-background-color: #ABEBC6;
    -fx-padding: 40px;
    -fx-spacing: 10px;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 5);
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}






/* Style for the login button */
Button {
 -fx-background-radius: 60px;
  -fx-min-width: 180px;
  -fx-min-height: 40px;
  -fx-max-width: 200px;
  -fx-max-height: 40px;
    -fx-pref-height: 40px;
    -fx-pref-width: 180px;
    -fx-font-size: 15px; /* Set font size */
    -fx-font-weight: bold; /* Set font weight */
    -fx-background-color:#9B59B6; /* Set background color */
    -fx-text-fill: #fff; /* Set text color */
    -fx-border-width: 0; /* Remove border */
    -fx-border-radius: 5px; /* Round corners */
    -fx-padding: 10px 20px; /* Set padding */
    -fx-font-family: "Roboto", sans-serif; /* Set font family */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 1); /* Add elevation */
}

/* Style for the login button on hover */
Button:hover {
    -fx-background-color: #005b7f; /* Set background color */
}
